@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Permanent+Marker&family=Quicksand:wght@300;400;600&display=swap");
body {
  font-family: "Quicksand";
}
h1 {
  font-family: "Permanent Marker", monospace;
  text-align: center;
}
.title {
  font-family: "Indie Flower", monospace;
  text-align: left;
  font-size: 5em;
  color: #00ff81; /** #53ffdd */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1f4e5c; /** #02536c #444444 #a3a3a3 */
  min-height: 50vh;
  font-size: calc(10px + 1.5vmin);
  color: white;
  padding: 25px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-photo {
  height: 300px;
  width: 300px;
}

.header-width {
  max-width: 40em;
}

.page-width {
  max-width: 75%;
}

.border-green {
  border: 1px solid #00ff81;
}
